
<div class="cont-cards">
  <div class="cont-elementos text-center">
    <h2> {{ titulo }} </h2>

    <div *ngIf="titulo === 'Error'" class="alert alert-danger m-5">
      <!-- <h3>Error</h3> -->
      <h3>{{elementos[0]}}, status: {{elementos[1]}}</h3>
    </div>

    <div class="row" *ngIf="!error">
      <div class="col-3" *ngFor="let item of elementos" (click)="verArtista(item.artistaId)">
        <app-card [imagen]="item.img" [titulo]="item.title" [subtitulo]="item.subtitle" ></app-card>
      </div>
    </div>

  </div>
</div>

<!-- <p>Release!</p> -->
